<div class="d-flex flex-row" id="add-location">
  <div class="bg-white px-5 sidebar">
    <h1 class="fw-bold pt-5 mb-2">Add new retailer location</h4>
    <div class="text-help mb-4">
      Add your provider location to the Pfizer directory. Already have an account? <a href="/">Sign in</a>
    </div>

    <div class="mb-2">
      <small>Select all days available for services</small>
    </div>
    <div class="d-inline-flex flex-wrap flex-row options mb-2">
      <% Date::DAYNAMES.each do |day| %>
        <%= render "shared/select_pill", name: day %>
      <% end %>
    </div>
    <hr />
    <div id="day-container"></div>
    <template id="day">
      <div>
        <h5 class="fw-bold mt-4 mb-3">Sunday</h5>
        <div class="d-flex flex-row options">
          <div class="form-floating flex-grow-1">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected></option>
              <% half_hour_increments.each do |time| %>
                <option value="<%= time.strftime("%-I:%M %p") %>"><%= time.strftime("%-I:%M %p") %></option>
              <% end %>
            </select>
            <label for="floatingSelect">Start time</label>
          </div>

          <div class="form-floating flex-grow-1">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected></option>
              <% half_hour_increments.each do |time| %>
                <option value="<%= time.strftime("%-I:%M %p") %>"><%= time.strftime("%-I:%M %p") %></option>
              <% end %>
            </select>
            <label for="floatingSelect">End time</label>
          </div>
        </div>
        <div class="mt-3 mb-2">Closed for lunch</div>
        <div class="d-flex flex-row options">
          <div class="form-floating flex-grow-1">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected></option>
              <% half_hour_increments.each do |time| %>
                <option value="<%= time.strftime("%-I:%M %p") %>"><%= time.strftime("%-I:%M %p") %></option>
              <% end %>
            </select>
            <label for="floatingSelect">From</label>
          </div>

          <div class="form-floating flex-grow-1">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected></option>
              <% half_hour_increments.each do |time| %>
                <option value="<%= time.strftime("%-I:%M %p") %>"><%= time.strftime("%-I:%M %p") %></option>
              <% end %>
            </select>
            <label for="floatingSelect">To</label>
          </div>
        </div>
        <div class="d-flex flex-row options">
          <div class="form-floating flex-grow-1 mt-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected></option>
              <option value='15'>15 minutes</option>
              <option value='30'>30 minutes</option>
            </select>
            <label for="floatingSelect">Slot Intervals</label>
          </div>
        </div>
        <div class="d-flex flex-row options mt-3">
          <div class="fw-bold pe-3">Allow same-day appointments</div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        </div>
      </div>
    </template>

    <div class="d-flex justify-content-end options flex-row mt-5">
      <a href="/add_location" type="button" class="btn btn-custom d-flex align-items-center justify-content-center">Back to location details</a>
      <button type="button" class="btn btn-main" onclick="showSuccessMessage()">Save schedule</button>
    </div>

  </div>
  <div class="container main-content">
  </div>
</div>
   <div id="success-message" class="success-message">
        <div class="emoji">🎉</div>
        <div class="text">Your location should show up in vaxassist within 5 business days</div>
    </div>

<script>
  <% Date::DAYNAMES.each do |day| %>
    document.getElementById("<%= day %>").addEventListener("click", function() {
      if (this.classList.contains("bg-main")) {
        this.classList.remove("bg-main");
        this.children[0].classList.remove("text-light");
        document.getElementById("<%= day %>-container").remove();
        return;
      }
      const template = document.getElementById("day");
      this.classList.toggle("bg-main");
      this.children[0].classList.toggle("text-light");
      const clone = template.content.cloneNode(true);
      clone.children[0].children[0].innerText = "<%= day %>";
      clone.children[0].id = "<%= day %>-container";
      document.getElementById("day-container").appendChild(clone);
    });
  <% end %>

    function showSuccessMessage() {
            document.getElementById('success-message').style.display = 'block';
        }
</script>
